@{
    ViewBag.Title = "Analisis Camibo Precios";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="app">
    Error en JavaScript
</div>


<script type="text/javascript" src="~/dist/indicadores/AnanlisisCambioPrecios/app.js"></script>

