<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="devExpress">
      <section name="themes" type="DevExpress.Web.ThemesConfigurationSection, DevExpress.Web.v17.2, Version=17.2.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
      <section name="compression" type="DevExpress.Web.CompressionConfigurationSection, DevExpress.Web.v17.2, Version=17.2.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
      <section name="settings" type="DevExpress.Web.SettingsConfigurationSection, DevExpress.Web.v17.2, Version=17.2.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
      <section name="errors" type="DevExpress.Web.ErrorsConfigurationSection, DevExpress.Web.v17.2, Version=17.2.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
      <section name="resources" type="DevExpress.Web.ResourcesConfigurationSection, DevExpress.Web.v17.2, Version=17.2.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="seguimiento.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="seguimientousuarios" connectionString="Data Source=HPLAPTOP\;Initial Catalog=seguimiento;Persist Security Info=True;User ID=sa;Password=Ragazi/*-1" providerName="System.Data.SqlClient" />
    <add name="Conexion" connectionString="Data Source=seguimiento_iza;Initial Catalog=seguimiento_2;Persist Security Info=True;User ID=sa;Password=Ragazi/*-1" providerName="System.Data.SqlClient" />
    <add name="seguimientoConnectionString1" connectionString="Data Source=seguimiento_iza;Initial Catalog=seguimiento_2;Persist Security Info=True;User ID=sa;Password=Ragazi/*-1" providerName="System.Data.SqlClient" />
    <add name="seguimientoConnectionStringperfiles" connectionString="Data Source=1seguimiento_iza;Initial Catalog=seguimiento_2;User ID=sa;Password=Ragazi/*-1" providerName="System.Data.SqlClient" />
    <add name="UnidadNegocioConnectionString" connectionString="Data Source=seguimiento_iza;Initial Catalog=seguimiento_2;Persist Security Info=True;User ID=sa;Password=Ragazi/*-1" providerName="System.Data.SqlClient" />
    <add name="DepartamentoConnection" connectionString="Data Source=seguimiento_iza;Initial Catalog=seguimiento_2;Persist Security Info=True;User ID=sa;Password=Ragazi/*-1" providerName="System.Data.SqlClient" />
    <add name="DeptoConnectionString" connectionString="Data Source=seguimiento_iza;Initial Catalog=seguimiento_2;Persist Security Info=True;User ID=sa;Password=Ragazi/*-1" providerName="System.Data.SqlClient" />
    <add name="PuestosTipoConnectionString" connectionString="Data Source=seguimiento_iza;Initial Catalog=seguimiento_2;Persist Security Info=True;User ID=sa;Password=Ragazi/*-1" providerName="System.Data.SqlClient" />
    <add name="OrganigramaConnectionString" connectionString="Data Source=seguimiento_iza;Initial Catalog=seguimiento_2;Persist Security Info=True;User ID=sa;Password=Ragazi/*-1" providerName="System.Data.SqlClient" />
    <add name="ComboConnectionString" connectionString="Data Source=seguimiento_iza;Initial Catalog=seguimiento_2;Persist Security Info=True;User ID=sa;Password=Ragazi/*-1" providerName="System.Data.SqlClient" />
    <add name="unConnectionString" connectionString="Data Source=seguimiento_iza;Initial Catalog=seguimiento_2;Persist Security Info=True;User ID=sa;Password=Ragazi/*-1" providerName="System.Data.SqlClient" />
    <add name="DepartamentoConnectionString" connectionString="Data Source=seguimiento_iza;Initial Catalog=seguimiento_2;Persist Security Info=True;User ID=sa;Password=Ragazi/*-1" providerName="System.Data.SqlClient" />
    <add name="PuestosConnectionString" connectionString="Data Source=seguimiento_iza;Initial Catalog=seguimiento_2;User ID=sa;Password=Ragazi/*-1" providerName="System.Data.SqlClient" />
    <add name="seguimientoConnectionString4" connectionString="Data Source=seguimiento_iza;Initial Catalog=seguimiento_2;Persist Security Info=True;User ID=sa;Password=Ragazi/*-1" providerName="System.Data.SqlClient" />
    <add name="PerfilesConnectionString" connectionString="Data Source=seguimiento_iza;Initial Catalog=seguimiento_2;Persist Security Info=True;User ID=sa;Password=Ragazi/*-1" providerName="System.Data.SqlClient" />
    <add name="PTConnectionString" connectionString="Data Source=seguimiento_iza;Initial Catalog=seguimiento_2;Persist Security Info=True;User ID=sa;Password=Ragazi/*-1" providerName="System.Data.SqlClient" />
    <add name="RespConnectionString" connectionString="Data Source=seguimiento_iza;Initial Catalog=seguimiento_2;Persist Security Info=True;User ID=sa;Password=Ragazi/*-1" providerName="System.Data.SqlClient" />
    <add name="RCPConnectionString" connectionString="Data Source=seguimiento_iza;Initial Catalog=seguimiento_2;Persist Security Info=True;User ID=sa;Password=Ragazi/*-1" providerName="System.Data.SqlClient" />
    <add name="RUPConnectionString" connectionString="Data Source=seguimiento_iza;Initial Catalog=seguimiento_2;Persist Security Info=True;User ID=sa;Password=Ragazi/*-1" providerName="System.Data.SqlClient" />
    <add name="PuestoConnectionString" connectionString="Data Source=seguimiento_iza;Initial Catalog=seguimiento_2;Persist Security Info=True;User ID=sa;Password=Ragazi/*-1" providerName="System.Data.SqlClient" />
    <add name="UsersConnectionString" connectionString="Data Source=seguimiento_iza;Initial Catalog=seguimiento_2;Persist Security Info=True;User ID=sa;Password=Ragazi/*-1" providerName="System.Data.SqlClient" />
    <add name="UNegocioConnectionString" connectionString="Data Source=seguimiento_iza;Initial Catalog=seguimiento_2;User ID=sa;Password=Ragazi/*-1" providerName="System.Data.SqlClient" />
    <add name="EvidenciaConnectionString" connectionString="Data Source=seguimiento_iza;Initial Catalog=seguimiento_2;Persist Security Info=True;User ID=sa;Password=Ragazi/*-1" providerName="System.Data.SqlClient" />
    <add name="BasesConnectionString" connectionString="Data Source=seguimiento_iza;Initial Catalog=seguimiento_2;Persist Security Info=True;User ID=sa;Password=Ragazi/*-1" providerName="System.Data.SqlClient" />
    <add name="BaseConnectionString" connectionString="Data Source=seguimiento_iza;Initial Catalog=seguimiento_2;Persist Security Info=True;User ID=sa;Password=Ragazi/*-1" providerName="System.Data.SqlClient" />
    <add name="QueriesConnectionString" connectionString="Data Source=seguimiento_iza;Initial Catalog=seguimiento_2;Persist Security Info=True;User ID=sa;Password=Ragazi/*-1" providerName="System.Data.SqlClient" />
    <add name="ParametrosConnectionString" connectionString="Data Source=seguimiento_iza;Initial Catalog=seguimiento_2;Persist Security Info=True;User ID=sa;Password=Ragazi/*-1" providerName="System.Data.SqlClient" />
    <add name="BSConnectionString" connectionString="Data Source=seguimiento_iza;Initial Catalog=seguimiento_2;Persist Security Info=True;User ID=sa;Password=Ragazi/*-1" providerName="System.Data.SqlClient" />
    <add name="MatrizConnectionString" connectionString="Data Source=seguimiento_iza;Initial Catalog=seguimiento_2;Persist Security Info=True;User ID=sa;Password=Ragazi/*-1" providerName="System.Data.SqlClient" />
    <add name="seguimientoConnectionString5" connectionString="Data Source=seguimiento_iza;Initial Catalog=seguimiento_2;Persist Security Info=True;User ID=sa;Password=Ragazi/*-1" providerName="System.Data.SqlClient" />
    <add name="seguimientoConnectionString6" connectionString="Data Source=seguimiento_iza;Initial Catalog=seguimiento_2;Persist Security Info=True;User ID=sa;Password=Ragazi/*-1" providerName="System.Data.SqlClient" />
    <add name="Combobox2ConnectionString" connectionString="Data Source=seguimiento_iza;Initial Catalog=seguimiento_2;Persist Security Info=True;User ID=sa;Password=Ragazi/*-1" providerName="System.Data.SqlClient" />
    <add name="DescProcesoConnectionString" connectionString="Data Source=seguimiento_iza;Initial Catalog=seguimiento_2;Persist Security Info=True;User ID=sa;Password=Ragazi/*-1" providerName="System.Data.SqlClient" />
    <add name="ComboProcesosConnectionString" connectionString="Data Source=seguimiento_iza;Initial Catalog=seguimiento_2;Persist Security Info=True;User ID=sa;Password=Ragazi/*-1" providerName="System.Data.SqlClient" />
    <add name="PoliticasConnectionString" connectionString="Data Source=seguimiento_iza;Initial Catalog=seguimiento_2;Persist Security Info=True;User ID=sa;Password=Ragazi/*-1" providerName="System.Data.SqlClient" />
    <add name="ActividadConnectionString" connectionString="Data Source=seguimiento_iza;Initial Catalog=seguimiento_2;Persist Security Info=True;User ID=sa;Password=Ragazi/*-1" providerName="System.Data.SqlClient" />
    <add name="PerfilesConnectionString7" connectionString="Data Source=seguimiento_iza;Initial Catalog=seguimiento_2;Persist Security Info=True;User ID=sa;Password=Ragazi/*-1" providerName="System.Data.SqlClient" />
    <add name="Combobox3ConnectionString" connectionString="Data Source=seguimiento_iza;Initial Catalog=seguimiento_2;Persist Security Info=True;User ID=sa;Password=Ragazi/*-1" providerName="System.Data.SqlClient" />
    <add name="DescActConnectionString" connectionString="Data Source=seguimiento_iza;Initial Catalog=seguimiento_2;Persist Security Info=True;User ID=sa;Password=Ragazi/*-1" providerName="System.Data.SqlClient" />
    <add name="ProcesDefConnectionString" connectionString="Data Source=seguimiento_iza;Initial Catalog=seguimiento_2;Persist Security Info=True;User ID=sa;Password=Ragazi/*-1" providerName="System.Data.SqlClient" />
    <add name="MvvConnectionString" connectionString="Data Source=seguimiento_iza;Initial Catalog=seguimiento_2;Persist Security Info=True;User ID=sa;Password=Ragazi/*-1" providerName="System.Data.SqlClient" />
    <add name="ConexionHK" connectionString="Data Source=seguimiento_iza;Initial Catalog=seguimiento_2;Persist Security Info=True;User ID=sa;Password=Ragazi/*-1" providerName="System.Data.SqlClient" />
    <add name="Combo1MatrizHK" connectionString="Data Source=seguimiento_iza;Initial Catalog=seguimiento_2;Persist Security Info=True;User ID=sa;Password=Ragazi/*-1" providerName="System.Data.SqlClient" />
    <add name="ComboMatrizHK" connectionString="Data Source=seguimiento_iza;Initial Catalog=seguimiento_2;Persist Security Info=True;User ID=sa;Password=Ragazi/*-1" providerName="System.Data.SqlClient" />
    <add name="conexionRul" connectionString="Data Source=seguimiento_iza;Initial Catalog=Seguimiento_2;User ID=sa;Password=Ragazi/*-1;Persist Security Info=True" providerName="System.Data.SqlClient" />
    <!-- -->
  </connectionStrings>
  <system.web>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304" />
        <add assembly="CrystalDecisions.Shared, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304" />
        <add assembly="log4net, Version=1.2.10.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304" />
        <add assembly="CrystalDecisions.ReportSource, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304" />
        <add assembly="CrystalDecisions.ReportAppServer.Controllers, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304" />
        <add assembly="CrystalDecisions.ReportAppServer.DataDefModel, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304" />
        <add assembly="CrystalDecisions.CrystalReports.Engine, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304" />
        <add assembly="CrystalDecisions.ReportAppServer.ClientDoc, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />
        <add assembly="DevExpress.Web.v17.2, Version=17.2.7.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
        <add assembly="DevExpress.Data.v17.2, Version=17.2.7.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
        <add assembly="DevExpress.Printing.v17.2.Core, Version=17.2.7.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
        <add assembly="DevExpress.RichEdit.v17.2.Core, Version=17.2.7.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
        <add assembly="System.Web.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="DevExpress.Web.ASPxThemes.v17.2, Version=17.2.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="DevExpress.Web.ASPxGauges.v17.2, Version=17.2.7.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
        <add assembly="DevExpress.XtraGauges.v17.2.Core, Version=17.2.7.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
        <add assembly="DevExpress.Dashboard.v17.2.Web, Version=17.2.7.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
        <add assembly="DevExpress.Dashboard.v17.2.Core, Version=17.2.7.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
        <add assembly="DevExpress.DataAccess.v17.2, Version=17.2.7.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
        <add assembly="DevExpress.Office.v17.2.Core, Version=17.2.7.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
        <add assembly="DevExpress.Charts.v17.2.Core, Version=17.2.7.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
        <add assembly="DevExpress.Xpo.v17.2, Version=17.2.7.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
        <add assembly="DevExpress.XtraReports.v17.2.Web, Version=17.2.7.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
        <add assembly="DevExpress.XtraReports.v17.2, Version=17.2.7.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
        <add assembly="DevExpress.XtraCharts.v17.2, Version=17.2.7.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
        <add assembly="DevExpress.PivotGrid.v17.2.Core, Version=17.2.7.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
        <add assembly="DevExpress.Sparkline.v17.2.Core, Version=17.2.7.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
        <add assembly="DevExpress.Web.ASPxPivotGrid.v17.2, Version=17.2.7.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
        <add assembly="DevExpress.ExpressApp.Web.v17.2, Version=17.2.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="DevExpress.ExpressApp.v17.2, Version=17.2.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="DevExpress.Persistent.Base.v17.2, Version=17.2.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="DevExpress.Utils.v17.2, Version=17.2.7.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
        <add assembly="DevExpress.Web.ASPxTreeList.v17.2, Version=17.2.7.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
        <add assembly="DevExpress.Web.ASPxScheduler.v17.2, Version=17.2.7.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
        <add assembly="DevExpress.XtraScheduler.v17.2.Core, Version=17.2.7.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
        <add assembly="DevExpress.Web.Resources.v17.2, Version=17.2.7.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
      </assemblies>
    </compilation>
     
    <httpRuntime targetFramework="4.5" executionTimeout="290" maxRequestLength="2147483647" useFullyQualifiedRedirectUrl="false"
minFreeThreads="8" minLocalRequestFreeThreads="4" appRequestQueueLimit="100" />
    <pages validateRequest="false" maintainScrollPositionOnPostBack="true">
      <controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
      </controls>
    </pages>
    <httpHandlers>
      <add  validate="false" verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />
      <add  validate="false" type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v17.2, Version=17.2.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET,POST" path="DX.ashx"/>
      <add  validate="false" verb="GET,POST" path="ASPxUploadProgressHandlerPage.ashx" type="DevExpress.Web.ASPxUploadProgressHttpHandler, DevExpress.Web.v17.2, Version=17.2.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
      <add  validate="false" verb="*" path="DXX.axd" type="DevExpress.ExpressApp.Web.XafHttpHandler, DevExpress.ExpressApp.Web.v17.2, Version=17.2.7.0, culture=neutral, PublicKeyToken=b88d1754d700e49a" />
      <add  validate="false" verb="GET,POST" path="DXXRD.axd" type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v17.2, Version=17.2.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
      <add  validate="false" type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v17.2, Version=17.2.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET,POST" path="DXQB.axd" />
      <add validate="false" verb="GET,POST" path="DXDD.axd" type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v17.2, Version=17.2.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
      <add validate="false" verb="GET,POST" path="DXXRDV.axd" type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v17.2, Version=17.2.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
    </httpHandlers>
    <httpModules>
      <add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v17.2, Version=17.2.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" name="ASPxHttpHandlerModule" />
      <add name="XafHttpModule" type="DevExpress.ExpressApp.Web.XafHttpModule, DevExpress.ExpressApp.Web.v17.2, Version=17.2.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
    </httpModules>
    <authentication mode="Windows">
      <forms cookieless="AutoDetect" protection="None" requireSSL="false" />
    </authentication>
    <identity impersonate="true" password="" userName="" />

   <customErrors mode="RemoteOnly" defaultRedirect="errorpage.html"/>
  
  </system.web>
  <system.webServer>
    <handlers>
      <add name="CrystalImageHandler.aspx_GET" verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" preCondition="integratedMode" />
      <add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v17.2, Version=17.2.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET,POST" path="DX.ashx" name="ASPxHttpHandlerModule" preCondition="integratedMode" />
      <add name="ASPxUploadProgressHandler" preCondition="integratedMode" verb="GET,POST" path="ASPxUploadProgressHandlerPage.ashx" type="DevExpress.Web.ASPxUploadProgressHttpHandler, DevExpress.Web.v17.2, Version=17.2.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
      <add name="XafHttpHandler" preCondition="integratedMode" verb="*" path="DXX.axd" type="DevExpress.ExpressApp.Web.XafHttpHandler, DevExpress.ExpressApp.Web.v17.2, Version=17.2.7.0, culture=neutral, PublicKeyToken=b88d1754d700e49a" />
      <add name="ASPxHttpHandlerModuleXAF" preCondition="integratedMode" verb="GET,POST" path="DXXRD.axd" type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v17.2, Version=17.2.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
      <add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v17.2, Version=17.2.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET,POST" path="DXQB.axd" name="ASPxQueryBuilderDesignerHandlerModule" preCondition="integratedMode" />
      <add name="WebDashboardHandler" preCondition="integratedMode" verb="GET,POST" path="DXDD.axd" type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v17.2, Version=17.2.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
      <add name="ASPxWebDocumentViewerHandlerModule" preCondition="integratedMode" verb="GET,POST" path="DXXRDV.axd" type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v17.2, Version=17.2.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v17.2, Version=17.2.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" name="ASPxHttpHandlerModule" />
      <add name="XafHttpModule" type="DevExpress.ExpressApp.Web.XafHttpModule, DevExpress.ExpressApp.Web.v17.2, Version=17.2.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
    </modules>
  </system.webServer>
  <devExpress>
    <themes enableThemesAssembly="true" styleSheetTheme="" theme="" customThemeAssemblies="" baseColor="" font="" />
    <compression enableHtmlCompression="false" enableCallbackCompression="true" enableResourceCompression="true" enableResourceMerging="true" />
    <settings doctypeMode="Html5" rightToLeft="false" embedRequiredClientLibraries="false" ieCompatibilityVersion="edge" accessibilityCompliant="false" checkReferencesToExternalScripts="false" protectControlState="true" bootstrapMode="" />
    <errors callbackErrorRedirectUrl="" />
  </devExpress>
  <appSettings>
    <add key="aspnet:MaxJsonDeserializerMembers" value="2147483647" />
    <add key="aspnet:UpdatePanelMaxScriptLength" value="2147483647" />
  </appSettings>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="2147483647"/>
      </webServices>
    </scripting>
  </system.web.extensions>

  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="accesoServSoap" />
        <binding name="accesoServSoap1" />
        <binding name="pre_orden_compraSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:1987/servicios/accesoServ.asmx"
        binding="basicHttpBinding" bindingConfiguration="accesoServSoap"
        contract="acceso.accesoServSoap" name="accesoServSoap" />
      <endpoint address="http://localhost:1987/servicios/accesoServ.asmx"
        binding="basicHttpBinding" bindingConfiguration="accesoServSoap1"
        contract="acceso.accesoServSoap" name="accesoServSoap1" />
      <endpoint address="http://localhost:1987/servicios/comercializacion/Pre_orden_compra.asmx"
        binding="basicHttpBinding" bindingConfiguration="pre_orden_compraSoap"
        contract="preorden_compra.pre_orden_compraSoap" name="pre_orden_compraSoap" />
    </client>
    <behaviors>
      <endpointBehaviors>
        <behavior name="seguimiento.Service1AspNetAjaxBehavior">
          <enableWebScript />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"
      multipleSiteBindingsEnabled="true" />
    <services>
      <service name="seguimiento.Service1">
        <endpoint address="" behaviorConfiguration="seguimiento.Service1AspNetAjaxBehavior"
          binding="webHttpBinding" contract="seguimiento.Service1" />
      </service>
    </services>
  </system.serviceModel>
  <applicationSettings>
    <seguimiento.My.MySettings>
      <setting name="seguimiento_acceso_accesoServ" serializeAs="String">
        <value>http://localhost:1987/servicios/accesoServ.asmx</value>
      </setting>
      <setting name="seguimiento_preorden_compra_pre_orden_compra"
        serializeAs="String">
        <value>http://localhost:1987/servicios/comercializacion/Pre_orden_compra.asmx</value>
      </setting>
    </seguimiento.My.MySettings>
  </applicationSettings>
</configuration>